header {
  font-size: 40px;
  text-align: center;
  margin: 20px;
}

body {
  background-color: rgb(32, 161, 0);

}

.game {
  background-color: rgb(55, 236, 10);
  width: 50%;
  height: 650px;
  margin: 0 auto;
  padding-top: 20px;
}

.matriz {
  background-color: white;
  height: 80%;
  width: 80%;
  margin: 0 auto;
  border: 5px solid black;
}